// VARIABLES

$light-gray: #ddd;

// GLOBAL STYLES

body {
  background-color: $light-gray;
  margin-top: 20px;

  button {
    margin-left: 15px;
    margin-right: 15px;
  }

  img {
    margin: 10px;
    width: 60px;
  }
}

// CLASS STYLES

.main {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
